*

!.gitignore

!**/compose.yaml
!**/docker-compose.yml

# Homepage
!homepage/
homepage/*
!homepage/compose.yaml
!homepage/config/
homepage/config/*
!homepage/config/*.yaml

# Home Assistant
!homeassistant/
homeassistant/*
!homeassistant/*.yaml
homeassistant/secrets.yaml

# Cloudflare
!cloudflare/
cloudflare/*
!cloudflare/compose.yaml

# Immich
!immich/
immich/*
!immich/compose.yaml

# Kuma
!kuma/
kuma/*
!kuma/compose.yaml

# ignore
.env
*.log
*.db
*.db-shm
*.db-wal

# Agent

!.agent/
!.agent/rules/
!.agent/rules/*


# Harbor
!harbor/
harbor/*
!harbor/compose.yaml
!harbor/config/
harbor/config/*
!harbor/config/*/
!harbor/config/**/*.yaml
!harbor/config/**/*.yml
!harbor/config/**/*.conf
!harbor/registry/
harbor/registry/*
!harbor/registry/*.yml
!harbor/setup.sh

# Harbor Secrets & Data
harbor/secret/
harbor/redis/
harbor/database/
harbor/registry/data/

# Lundedev Core
!lundedev-core/
lundedev-core/*
!lundedev-core/compose.yaml
