*

!.gitignore

!**/compose.yaml
!**/docker-compose.yml

# Homepage
!homepage/
homepage/*
!homepage/compose.yaml
!homepage/config/
homepage/config/*
!homepage/config/*.yaml

# Home Assistant
!homeassistant/
homeassistant/*
!homeassistant/*.yaml
homeassistant/secrets.yaml

# Cloudflare
!cloudflare/
cloudflare/*
!cloudflare/compose.yaml

# Immich
!immich/
immich/*
!immich/compose.yaml

# Kuma
!kuma/
kuma/*
!kuma/compose.yaml

# ignore
.env
*.log
*.db
*.db-shm
*.db-wal
