services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    network_mode: host
    privileged: true
    environment:
      # Use a comma-separated list with NO SPACES
      - HOMEPAGE_ALLOWED_HOSTS=home.lundeberg.cc,192.168.x.x:3000,localhost:3000
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/nvme-storage:/mnt/nvme-storage:ro
