services:
  log:
    image: goharbor/harbor-log:${HARBOR_VERSION}
    container_name: harbor-log
    restart: always
    volumes:
      - ${DATA_VOLUME}/log/:/var/log/docker/
      - ./syslog:/var/lib/syslog
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 10514"]
      interval: 10s
      timeout: 10s
      retries: 5
    ports:
      - 127.0.0.1:1514:10514
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"

  registry:
    image: goharbor/registry-photon:${HARBOR_VERSION}
    container_name: harbor-registry
    restart: always
    volumes:
      - ${DATA_VOLUME}/registry:/storage:z
      - ./registry/:/etc/registry/:z
      - ./secret/registry:/etc/registry/secrets/:z
    networks:
      - harbor
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:1514"
        tag: "registry"
    depends_on:
      log:
        condition: service_healthy
    environment:
      REGISTRY_HTTP_SECRET: ${HARBOR_SECRET_KEY}
      REGISTRY_REDIS_ADDR: redis:6379

  registryctl:
    image: goharbor/harbor-registryctl:${HARBOR_VERSION}
    container_name: harbor-registryctl
    env_file:
      - .env
    restart: always
    volumes:
      - ${DATA_VOLUME}/registry:/storage:z
      - ./registry/:/etc/registry/:z
      - ./secret/registry:/etc/registry/secrets/:z
    networks:
      - harbor
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:1514"
        tag: "registryctl"
    depends_on:
      log:
        condition: service_healthy
      registry:
        condition: service_started

  postgresql:
    image: goharbor/harbor-db:${HARBOR_VERSION}
    container_name: harbor-db
    restart: always
    env_file:
      - .env
    volumes:
      - ${DATA_VOLUME}/database:/var/lib/postgresql/data:z
    networks:
      - harbor
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:1514"
        tag: "postgresql"
    depends_on:
      log:
        condition: service_healthy

  redis:
    image: goharbor/redis-photon:${HARBOR_VERSION}
    container_name: harbor-redis
    restart: always
    volumes:
      - ${DATA_VOLUME}/redis:/var/lib/redis
    networks:
      - harbor
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:1514"
        tag: "redis"
    depends_on:
      log:
        condition: service_healthy

  core:
    image: goharbor/harbor-core:${HARBOR_VERSION}
    container_name: harbor-core
    env_file:
      - .env
    restart: always
    volumes:
      - ./config/core:/etc/core/:z
      - ./secret/core:/etc/core/app-config/keys/:z
    networks:
      - harbor
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:1514"
        tag: "core"
    depends_on:
      log:
        condition: service_healthy
      postgresql:
        condition: service_started
      redis:
        condition: service_started
    environment:
      - PORT=8080
      - DATABASE_TYPE=postgresql
      - POSTGRESQL_HOST=postgresql
      - POSTGRESQL_PORT=5432
      - POSTGRESQL_DATABASE=registry
      - POSTGRESQL_USERNAME=postgres
      - POSTGRESQL_PASSWORD=${HARBOR_DB_PASSWORD}
      - REDIS_URL=redis://redis:6379/0
      - SYSLOG_URL=udp://log:1514
      - SYSLOG_TAG=core
      - EXT_ENDPOINT=${EXT_ENDPOINT}
      - CONFIG_PATH=/etc/core/app.conf
      - PERMIT_INSECURE_REGISTRIES=true

  jobservice:
    image: goharbor/harbor-jobservice:${HARBOR_VERSION}
    container_name: harbor-jobservice
    env_file:
      - .env
    restart: always
    volumes:
      - ${DATA_VOLUME}/job_logs:/var/log/jobs:z
      - ./config/jobservice:/etc/jobservice/:z
    networks:
      - harbor
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:1514"
        tag: "jobservice"
    depends_on:
      core:
        condition: service_started
      redis:
        condition: service_started

  portal:
    image: goharbor/harbor-portal:${HARBOR_VERSION}
    container_name: harbor-portal
    restart: always
    networks:
      - harbor
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:1514"
        tag: "portal"
    depends_on:
      core:
        condition: service_started

  proxy:
    image: goharbor/nginx-photon:${HARBOR_VERSION}
    container_name: harbor-proxy
    restart: always
    volumes:
      - ./config/nginx:/etc/nginx:z
    networks:
      - harbor
    ports:
      - 9080:8080
    logging:
      driver: "syslog"
      options:
        syslog-address: "udp://127.0.0.1:1514"
        tag: "proxy"
    depends_on:
      core:
        condition: service_started
      portal:
        condition: service_started

networks:
  harbor:
    external: false
